@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: black;
  font-size: 14px;
  text-transform: lowercase;
}

body.dark-theme {
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

button {
  all: unset;
}

.theme-light-dark {
  width: 25px;
  cursor: pointer;
  fill: white;
}

svg {
  width: 25px;
  cursor: pointer;
}

.dark-theme svg path {
  fill: white;
}
.container {
  width: 90%;
  max-width: 900px;
  margin-inline: auto;
  /* border: 1px solid black; */
}

header {
  /* background: #d3ee98; */
  padding-block: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-theme header {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-list li:hover {
  text-decoration: underline;
}

.intro-section,
.project-section,
.contact-section {
  padding-block: 2rem;
}

.contact-section {
  padding-bottom: 100px;
}

.intro-section .container {
  padding-block: 150px;
}

.intro-section h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.my-description {
  max-width: 70ch;
  color: #333;
  line-height: 1.75;
}

.dark-theme .my-description {
  color: #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: underline;
  font-size: 27px;
}

.project {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 5rem;
  width: 80%;
  padding: 1.5rem;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dark-theme .project {
  box-shadow: #444 0px 1px 2px 0px, #444 0px 1px 3px 1px;
}

.project img {
  border-radius: 10px;
}

.project-img-section {
  width: 60%;
}

.project-text-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.project-title {
  text-align: center;
  font-weight: 500;
  font-size: 23px;
}

.project-description {
  font-size: 12px;
  text-align: justify;
  color: #333;
}

.dark-theme .project-description {
  color: #ccc;
}

ul.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

ul.tech-stack li {
  border: 1px dashed black;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 10px;
}

.dark-theme ul.tech-stack li {
  border: 1px dashed white;
}

.project-actions {
  margin-top: auto;
  display: flex;
}

.project-actions > * {
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 10px;
  margin-right: 0.5rem;
}

.project-actions .text {
  font-size: inherit;
  font-weight: 500;
}

.icon {
  height: 16px;
  max-width: 16px;
  margin-right: 5px;
}

.live-preview,
.view-code {
  display: flex;
  align-items: center;
}

.contact-section {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 4px 6px rgba(0.1, 0.7, 0.1, 0.1);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-list li {
  /* font-weight: 500; */
  /* font-style: italic; */
  padding: 3px;
  /* border-bottom: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-down {
  height: 50px;
  width: 20px;
  display: block;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.resume {
  display: block;
  width: fit-content;
  margin-inline: auto;
  border: 1px solid black;
  padding: 0.5em 1em;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
}

.dark-theme .resume {
  border: 1px solid white;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}

.dark-theme #back-to-top {
  background-color: white;
}

#back-to-top:hover {
  background-color: #333;
}

.dark-theme #back-to-top:hover {
  background-color: #ccc;
}

#back-to-top svg {
  width: 70%;
}

#back-to-top svg path {
  fill: white;
}

.dark-theme #back-to-top svg path {
  fill: black;
}

@media (max-width: 800px) {
  .project {
    flex-direction: column;
  }

  .project > * {
    width: 100%;
  }

  .project-text-section > * {
    text-align: center;
    /* border: 2px solid blue; */
    margin: 0 auto;
  }
}
